<?xml version="1.0"?>
<launch>

    <!-- Run all Robot Hardware Nodes -->
    <!--include file="src/hardware/hardware.launch"/-->

    <!-- Run collector node -->
    <include file="$(find collector)/launch/collector.launch">
	    <arg name="seq_file" value="/home/pipedream/PitCollector/sequence_def.json"/>
    </include>

</launch>
