<?xml version="1.0"?>
<launch>

    <!-- Start XSense IMU Node -->
    <include file="$(find xsens_driver)/launch/xsens_driver.launch">
        <arg name="device" value="auto"/>
        <arg name="baudrate" value="0"/>
    </include>

    <!-- Start the Labjack Control Node -->
    <include file="$(find labjack_node)/launch/labjack_t7.launch">
    </include>

</launch>
